section {
  width: 500px;
  border: black solid 1px;
}

section ul.contact li {
  display: flex;
}

section ul.contact li i {
  width: 5%;
  border: solid green 1px;
  text-align: center;
}

section ul.contact li span {
  width: 50%;
  border: solid red 1px;
  text-align: center;
}
