.message {
  border: 1px solid blue;
  width: 532px;
  margin: 0 12px;
  border: none;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.message span {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;

  border: 1px solid red;
}
